<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RestClient</title>

    <link rel="icon" type="image/png" href="restclient.png" sizes="32x32"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet">

    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/plupload/js/plupload.full.min.js"></script>
    <script src="bower_components/qiniu/dist/qiniu.js"></script>

    <script src="js/scripts/hashmap.js"></script>
    <script src="bower_components/jsoneditor/dist/jsoneditor.min.js"></script>
    <script src="bower_components/ng-jsoneditor/ng-jsoneditor.min.js"></script>
    <script src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-zeroclipboard/dist/angular-zeroclipboard.min.js"></script>
    <script src="js/app.js?t=1"></script>
    <script src="js/services/logger.service.js?t=1"></script>
    <script src="js/services/common-util.service.js?t=1"></script>
    <script src="js/services/qn-util.service.js?t=1"></script>
    <script src="js/main/uploader-main-controller.js?t=1"></script>
    <script src="js/main/main-controller.js?t=1"></script>
    <script src="js/directives/qn-upload-file-status.directive.js?t=1"></script>
    <script src="js/directives/qn-uploader.directive.js?t=1"></script>
</head>

<body ng-app="starter" ng-controller="MainController as vm" style="padding: 40px 40px 40px 40px">
<div class="row">
    <div class="form-horizontal col-sm-12" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label" style="text-align:left">Local Url</label>
            <div class="col-sm-4"  style="padding-right: 0px">
                <input type="text" class="form-control" ng-model="vm.localUrl"
                       placeholder="Part not to be encoded">
            </div>
            <div class="col-sm-5"  style="padding-left: 0px">
                <input type="text" class="form-control" ng-model="vm.component"
                       placeholder="Url component to be encoded">
            </div>
            <button class="btn btn-success" ng-click="vm.get()">Get</button>
            <button class="btn btn-danger" ng-click="vm.delete()">Delete</button>
        </div>

    </div>
</div>
<div class="row">
    <div class="form-horizontal col-sm-12" role="form">
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label" style="text-align:left">Body</label>

                <button class="btn btn-sm" style="margin-left: 5px"
                    ng-class="{'btn-info': vm.requestBodyOptions.mode=='code', 'btn-defult': vm.requestBodyOptions.mode!='code'}"
                    ng-click="vm.requestBodyModeSwith()">{{vm.requestBodyOptions.mode=='code' ? 'Tree' : 'Code'}}
            </button>
            </div>

            <div class="col-sm-offset-4 col-sm-2">
                <label class="control-label" style="text-align:left">Result</label>
                <button class="btn btn-sm" style="margin-left: 5px"
                    ng-class="{'btn-info': vm.resultOptions.mode=='code', 'btn-defult': vm.resultOptions.mode!='code'}"
                    ng-click="vm.resultModeSwith()">{{vm.resultOptions.mode=='code' ? 'Tree' : 'Code'}}
            </button>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="form-horizontal col-sm-12" role="form">
        <div class="form-group">
            <div class="col-sm-6">
                <div ng-jsoneditor="vm.onJsoneditorLoad" ng-model="vm.requestBody" options="vm.requestBodyOptions"
                     style="width:100%; height: 500px"></div>
            </div>
            <div class="col-sm-6">
                <div ng-jsoneditor="vm.onJsoneditorLoad" ng-model="vm.result" options="vm.resultOptions"
                     style="width:100%; height: 500px"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>